<!DOCTYPE html>
<html>
    <head>
        <title>&m.var:main-title; - &m.var:title;</title>

        <!--&m.include:__template__/_head.html;-->
        
        <!-- FORM SCRIPTS -->
        <script src="E/m.var:template;/script/list.js"></script>
    </head>
    <body class="popup-window">
        <h1>&m.var:title;</h1>
        
        <div class="content">
            <div class="window for-tab-list list">
                <!--&m.include:__template__/list-content.html;-->
            </div>
        </div>
        
        <script>
            /*&m.include:__template__/script/bodyJs.inc.js;*/
        </script>
    </body>
</html>    