<!DOCTYPE html>
<html>
    <head>
        <title>&m.var:main-title; - &m.var:title;</title>

        <!--&m.include:__template__/_head.html;-->
        
        <!-- FORM SCRIPTS -->
        <script src="E/m.var:template;/script/list.js"></script>
        <script src="E/m.var:template;/script/form.js"></script>
    </head>
    <body>
        <header>
            &m.include:__template__/_header.html;
        </header>
        
        <nav class="side">
            &m.var:main-menu;
        </nav>
                
        <div class="window-holder main list">
            <nav class="top-tabs">
                <ul>
                    <li class="active" id="tab-list">Listar</li>
                    <li id="tab-search">Pesquisar</li>
                    <li id="tab-insert">Inserir</li>
                    <div class="clear"></div>
                </ul>
            </nav>
            
            <div class="content">
                <div class="window for-tab-list list">
                    <!--&m.include:__template__/list-content.html;-->
                </div>
                
                <div class="window for-tab-search">
                    <form class="search">
                        <!--&m.var:search-form;-->
                    </form>
                    <div class="action-bar">
                        <button id="bt-search">Pesquisar</button>
                    </div>
                </div>
                
                <div class="window for-tab-insert list">
                    <!--&m.include:__template__/form-content.html;-->
                </div>
            </div>
        </div>

        <div class="clear"></div>
        
        <footer>
            asdsad
        </footer>
        
        <script>
            /*&m.include:__template__/script/bodyJs.inc.js;*/
        </script>
    </body>
</html>    