.DS_Store
*.bak

/nbproject
/system/uploads/*
/system/config.ini.php

/system/backend/log/*
/system/backend/image-buffer/buffer/*.jpg
/system/backend/image-buffer/buffer/*.jpeg
/system/backend/image-buffer/buffer/*.gif
/system/backend/image-buffer/buffer/*.png
/system/backend/image-buffer/buffer/*.part

/system/frontend/log/*.txt

/system/bridge/log/*.txt

/system/console/log/*.txt