.DS_Store
*.bak

/nbproject
/uploads/*
/system/config.ini.php

/system/backend/image-buffer/buffer/*.jpg
/system/backend/image-buffer/buffer/*.jpeg
/system/backend/image-buffer/buffer/*.gif
/system/backend/image-buffer/buffer/*.png
/system/backend/image-buffer/buffer/*.part

/system/_commons/_system/vendor/imageBuffer/buffer/*.jpg
/system/_commons/_system/vendor/imageBuffer/buffer/*.jpeg
/system/_commons/_system/vendor/imageBuffer/buffer/*.gif
/system/_commons/_system/vendor/imageBuffer/buffer/*.png
/system/_commons/_system/vendor/imageBuffer/buffer/*.part

/system/backend/logs/*.txt
/system/backend/logs/*.md

/system/frontend/logs/*.txt
/system/frontend/logs/*.md

/system/bridge/logs/*.txt
/system/bridge/logs/*.md

/system/console/logs/*.txt
/system/console/logs/*.md