div.dash div.box{
    float: left;
    width: 49%;
    margin-right: 1%; 

    }
    
div.dash div.chart{
    width: 100%;
    margin-bottom: 50px;
    height: 300px;
    min-width: 50px;
    }
    
/* -- -- */
@media screen and (max-width: 900px){
        div.dash div.box{
            float: none;
            width: 100%;
            margin-right: 0; 
            }
    }
    
    
/* -- -- */
div.messages a{
    display: block;
    text-decoration: none;
    color: #000;
    }


div.messages a:hover{
    color: #777;
    }