div.jsonArray{
    }

div.jsonArray ul,
div.jsonArray li{
    padding: 0;
    margin: 0;
    border: 0 none;
    list-style: none;
    }
    
div.jsonArray li{
    background: #C6D0D0;
    float: left;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 10px;
    }
    
div.jsonArray li a{
    text-decoration: none;
    color: #FFF;
    margin-left: 1em;
    }