<!DOCTYPE html>
<html>
    <head>
      <title></title>
      <link rel="stylesheet" href="E/m.var:template;/assets/css/default.css">
    </head>
    <body>
        <nav>
            <h1>Menu</h1>
            <ul>
                <li>
                    <h2>Forms Backend (menu)</h2>
                    &m.var:menu;
                </li>
                <li>
                    <h2>Forms Backend (files)</h2>
                    &m.var:files;
                </li>
                <li>
                    <h2>Logs</h2>
                    <ul>
                        <li>Error Backend</li>
                        <li>Error Frontend</li>
                        <li>Error Bridge</li>
                        <li>Error Console</li>
                        <li>Log Users</li>
                    </ul>
                </li>
                <li>
                    <h2>Install</h2>
                    <input type="">
                </li>
                <li>
                    <h2>Configs</h2>
                    <input type="">
                </li>
            </ul>
        </nav
        
        <main>
            teste
        </main>
    </body>
</html>