<!DOCTYPE html>
<html>
	<head>
	  <title></title>
	</head>
	<body>
		
		<nav>
			<h1>Menu</h1>
			<ul>
				<li>
					<h2>Same of Backend</h2>
					<ul>
						<li>...</li>
						<li>...</li>
						<li>...</li>
						<li>...</li>
						<li>...</li>
					</ul>
				</li>
				<li>
					<h2>List of Files</h2>
					<ul>
						<li>...</li>
						<li>...</li>
						<li>...</li>
						<li>...</li>
						<li>...</li>
					</ul>
				</li>
				<li>
					<h2>Install</h2>
					<input type="">
				</li>
			</ul>
		</nav
		
		<main>
		</main>
	</body>
</html>