<base href="&m.var:root-path;">
    
<!-- METAS -->
<meta name="viewport" content="width=device-width">

<!-- DEFAULT CSS -->
<link rel="stylesheet" href="&m.var:template;/css/style.css">
<link rel="stylesheet" href="&m.var:template;/css/style-small.css" media="screen and (max-width: 750px)">

<!-- TYPE CSS -->
<m.foreach var="css" key="KEY">
<link rel="stylesheet" href="&m.var:css.#KEY#;">
</m.foreach>

<!-- FRAMEWORK JAVASCRIPT -->
<script src="&m.var:template;/libs/jquery.js"></script>
<script src="&m.var:template;/libs/jquery-migrate.js"></script>
<script src="&m.var:template;/libs/jquery.mobile-events.min.js"></script>
<script src="&m.var:template;/libs/spin.min.js"></script>

<!-- DEFAULT JAVASCRIPT -->
<script src="&m.var:template;/script/menu.js"></script>
<script src="&m.var:template;/script/default.js"></script>

<!-- TYPE JAVASCRIPT -->
<m.foreach var="javascript.head" key="KEY">
<script src="&m.var:javascript.head.#KEY#;"></script>
</m.foreach>