<!DOCTYPE html>
<html>
    <head>
        <title>&m.var:main-title; - &m.var:title;</title>
        
        &m.include:#template#/_head.html;
        
        
        <!-- FORM SCRIPTS -->
        <script src="&m.var:template;/script/form.js"></script>
    </head>
    <body>
        <header>
            &m.include:#template#/_header.html;
        </header>
        
        <nav class="side">
            &m.var:main-menu;
        </nav>
        
        <div class="main">
            sadasdasdas
        </div>

        
        <div class="clear"></div>
        
        <footer>
            asdsad
        </footer>
    </body>
</html>    