<!--<m.if cond="&m.var:bool:_GET.popup;">-->
    <!DOCTYPE html>
    <html>
        <head>
            <title>&m.var:main-title; - &m.var:title;</title>

            <!--&m.include:__template__/_head.html;-->
            
            <!-- FORM SCRIPTS -->
            <script src="E/m.var:template;/script/form.js"></script>
        </head>
        <body class="popup-window">
            <div id="loader">
                <div class="inner-loader">
                    <div id="canvasloader-container"></div>
                    <span>&m.var:ucfirst:lng.loading;...</span>
                </div>
            </div>
        
            <h1><!--&m.var:title;--></h1>

            <div class="content">
                <!--&m.include:__template__/form-content.html;-->
            </div>

            <script>
                /*&m.include:__template__/script/bodyJs.inc.js;*/
            </script>
        </body>
    </html>
<!--</m.if>-->

<!--<m.if cond="&m.var:bool:_GET.popup; -eq- false">-->
    <!DOCTYPE html>
    <html>
        <head>
          <m.foreach var="javascript.head" key="KEY">
            <script src="E/m.var:javascript.head.__KEY__;"></script>
          </m.foreach>
        </head>
        <body>
            <div class="content">
                <!--&m.include:__template__/form-content.html;-->
            </div>
            <script>
                /*&m.include:__template__/script/bodyJs.inc.js;*/
            </script>
        </body>
    </html>
<!--</m.if>-->