<m.if cond="&m.var:bool:_GET.popup;">
    <!DOCTYPE html>
    <html>
        <head>
            <title>&m.var:main-title; - &m.var:title;</title>

            <!--&m.include:#template#/_head.html;-->
            
            <!-- FORM SCRIPTS -->
            <script src="E/m.var:template;/script/form.js"></script>
        </head>
        <body class="popup-window">
            <div id="loader">
                <div class="inner-loader">
                    <div id="canvasloader-container"></div>
                    <span>Carregando...</span>
                </div>
            </div>
        
            <h1>&m.var:title;</h1>

            <div class="content">
                &m.include:#template#/form-content.html;
            </div>

            <script>
                /*&m.include:#template#/script/bodyJs.inc.js;*/
            </script>
        </body>
    </html>
</m.if>

<m.if cond="&m.var:bool:_GET.popup; -eq- false">
    <head>
      <m.foreach var="javascript.head" key="KEY">
        <script src="E/m.var:javascript.head.#KEY#;"></script>
      </m.foreach>
    </head>
    <div class="content">
        <!--&m.include:#template#/form-content.html;-->
    </div>
    <script>
        /*&m.include:#template#/script/bodyJs.inc.js;*/
    </script>
</m.if>