<!DOCTYPE html>
<html>
    <head>
        <title>&m.var:main-title; - &m.var:title;</title>
        
        &m.include:#template#/_head.html;        
    </head>
    <body>
        <header>
            <div class="user">
                teste
            </div>
        </header>
        
        <nav class="side">
            &m.var:main-menu;
        </nav>
        
        <div class="window-holder main list">
            <nav class="top-tabs">
                <ul>
                    <li id="tab-list"><a href="?action=view-listAndInsert-form&form=&m.var:_GET.form;#tab-list">Listar</a></li>
                    <li id="tab-search"><a href="?action=view-listAndInsert-form&form=&m.var:_GET.form;#tab-search">Pesquisar</a></li>
                    <li id="tab-insert"><a href="?action=view-listAndInsert-form&form=&m.var:_GET.form;#tab-insert">Inserir</a></li>
                    <li id="tab-update" class="active">Atualizar</li>
                    <div class="clear"></div>
                </ul>
            </nav>
            
            <div class="content">
                <div class="window for-tab-update">
                    &m.include:#template#/form-content.html;
                </div>
               <div class="window for-tab-list for-tab-search for-tab-insert">
                    Aguarde...
                </div>
            </div>
        </div>

        
        <div class="clear"></div>
        
        <footer>
            asdsad
        </footer>
        <script>
            &m.include:#template#/script/form.inc.js;
            &m.include:#template#/script/bodyJs.inc.js;
        </script>
    </body>
</html>    