<!DOCTYPE html>
<html>
    <head>
        <title>&m.var:main-title; - &m.var:title;</title>
        
        &m.include:#template#/_head.html;        
    </head>
    <body>
        <header>
            <div class="user">
                teste
            </div>
        </header>
        
        <nav class="side">
            &m.var:main-menu;
        </nav>

        <div class="main list">
            <div class="content">
                &m.include:#template#/form-content.html;
            </div>
        </div>

        
        <div class="clear"></div>
        
        <footer>
            asdsad
        </footer>
        <script>
            &m.include:#template#/script/form.inc.js;
            &m.include:#template#/script/bodyJs.inc.js;
        </script>
    </body>
</html>    