<!DOCTYPE html>
<html>
    <head>
        <title>&m.var:main-title; - &m.var:title;</title>

        &m.include:#template#/_head.html;
        
        <!-- FORM SCRIPTS -->
        <script src="&m.var:template;/script/list.js"></script>
        <script src="&m.var:template;/script/form.js"></script>
    </head>
    <body>
        <div id="loader">
            <div class="inner-loader">
                <div id="canvasloader-container"></div>
                Carregando...
            </div>
        </div>
        
        <header>
            &m.include:#template#/_header.html;
        </header>
        
        <nav class="side">
            &m.var:main-menu;
        </nav>
                
        <div class="window-holder main list">
            <nav class="top-tabs">
                <ul id="popup-menu">
                    <li class="active" id="tab-list">Listar</li>
                    <li id="tab-search">Pesquisar</li>
                    <li id="tab-insert">Inserir</li>
                    <div class="clear"></div>
                </ul>
            </nav>
            
            <div class="content" id="popup-window">
                <div class="window for-tab-list list">
                    <div class="action-bar">
                        <button class="bt-reload-list small square">Atualizar</button>
                    </div>
                    <div class="list-content">
                        &m.include:#template#/list-content.html;
                    </div>
                </div>
                
                <div class="window for-tab-search">
                    <form class="search">
                        &m.var:search-form;
                    </form>
                    <div class="action-bar">
                        <button id="bt-search">Pesquisar</button>
                    </div>
                </div>
                
                <div class="window for-tab-insert list">
                    &m.include:#template#/form-content.html;
                </div>
            </div>
        </div>

        <div class="clear"></div>
        
        <footer>
            asdsad
        </footer>
        
        <script>
            &m.include:#template#/script/bodyJs.inc.js;
        </script>
    </body>
</html>    