<!DOCTYPE html>
<html>
<head>
    <title>--</title>
    <meta name="viewport" content="width=device-width">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="E/m.var:template;/css/login.css">
</head>
<body>
    <div class="holder error">
        <div class="box">
            <div class="info">
                <h1>Console</h1>
                <div class="text">
                    &m.var:ucfirst:lng.block_access_message;
                </div>
            </div>
            <form action="javascript:void(0)">
                <h2>Erro!</h2>
                &m.var:error;
                <p><a href='?action=logout'>&m.var:ucfirst:lng.access_with_another_user;</a></p>
            </form>
        </div>
    </div>
</body>
</html>