<!DOCTYPE html>
<html>
<head>
    <title>--</title>
    <meta name="viewport" content="width=device-width">
    <script src="E/m.var:template;/libs/jquery.js"></script>
    <link rel="stylesheet" href="E/m.var:template;/css/login.css">
</head>
<body>
    <div class="holder">
        <div class="box">
            <div class="info">
                <h1>Console</h1>
                <div class="text">
                    &m.var:ucfirst:lng.login_message;
                </div>
            </div>
            <form action="javascript:void(0)">
                <input type="hidden" name="recovery_hash" value="&m.var:recovery_hash;">
                <div class="input-holder">
                    <label for="password-1">&m.var:ucfirst:lng.new_password;</label>
                    <input name="password-1" id="password-1" type="password" placeholder="senha">
                </div>
                <div class="input-holder">
                    <label for="pasword">&m.var:ucfirst:lng.confirm_new_password;</label>
                    <input name="password" id="password" type="password" placeholder="repita a senha">
                </div>
                <div class="buttons">
                    <button id="bt-alterar">&m.var:ucfirst:lng.change;</button>
                </div>
            </form>
            <div class="msg">
                (!) Mensagem de erro!
            </div>    
        </div>
    
    </div>
    <script>

        function showMsg(msg, type){
            $(".msg")
                .hide()
                .stop(true, true)
                .toggleClass(type)
                .html(msg)
                .fadeIn("slow")
                .delay(10 * 1000)
                .fadeOut(
                    "slow",
                    function(){
                        $(this).toggleClass(type)
                    }
                )
            ;
        }

        // -- ALTERAR SENHA -------------------------------------------------------------------------------------------
        // ------------------------------------------------------------------------------------------------------------

        $("#bt-alterar").click(function(){
            $.post(
                "?action=change-password",
                $("form").serialize(),
                function(data){
                    if(data.error === false){
                        showMsg(data.message, "ok");
                        $("form").html(
                            "<h2>Sua senha foi alterada com sucesso!</h2>" +
                            "<p>vá para a tela de login e entre com seu usuário e nova senha. </p>" +
                            "<p><a href='.'>voltar para tela de login.</a></p>"
                        )
                    }else{
                        showMsg("(!) "+data.message, "error");
                    }
                },
                "json"
            );
        });

    </script>
</body>
</html>