*{
    margin:0; 
    padding:0; 
    font-family: Verdana;
    }

nav ul *,
table tbody *{
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition   : all 0.4s ease-in-out 0s;
    transition        : all 0.4s ease-in-out 0s;
    }
    
.clear{
    clear: both;
    }

.window{
    display: none;
    }
    
.window:first-child{
    display: block;    
    }
    
iframe{
    width: 100%;
    height: 0px;
    border: 0 none;
    overflow: hidden;
    }
    
    
/* ---------------------------------------------------------------------------- */
    

    html,
    body {
        height: 100%;
        }

    body{
        background: #E6EAEA;
        font-color: #4C4C4C;
        font-size: 0.8em;
        pdding: 0;
        margin: 0;
        border: 0 none;
        overflow-x: hidden;
        }
    
    
/* --- HEADER ----------------------------------------------------------------- */


    header{
        background: url("../img/stream.jpg");
        min-height: 120px;
        position: relative;
        z-index: 2;
        }
        
    header div.user{
        float: left;
        width: 200px;
        height: 120px;
        border-right: 1px solid #A2AFAF;         
        -webkit-box-shadow: inset 0 2px 15px rgba(0,0,0,0.3);
        -moz-box-shadow   : inset 0 2px 15px rgba(0,0,0,0.3);
        box-shadow        : inset 0 2px 15px rgba(0,0,0,0.3);
        }

    header div.user div.image{
        background: url("../img/noThumb.jpg") rgba(255, 255, 255, 0.1);
        background-size: contain;
        float: left;
        height: 80px;
        width: 80px;
        margin: 10px 8px;
        box-shadow: 2px 2px 2px #4C4C4C;
        }

    header div.user div.info{
        margin-top: 24px;
        }
        
    header div.user div.info aspan,
    header div.user div.info a{
        display: block;
        }

    header div.modules{
        float: left;
        overflow: hidden;
        font-size: 16px;
        height: 119px;
        border-bottom: 1px solid #A2AFAF;
        width: -webkit-calc(100% - 201px);
        width:    -moz-calc(100% - 201px);
        width:         calc(100% - 201px);
        }
    
    header div.modules nav ul,
    header div.modules nav li{
        padding: 0;
        margin: 0;
        list-style: none;
        }
        
    header div.modules nav ul{
        height: 100%;
        width: 100%;
        background: black;
        }
        
    header div.modules nav ul li a{
        cursor: pointer;
        display: block;
        text-decoration: none;
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
        float: left;
        overflow: hidden;
        text-align: center;
        min-width: 120px;
        height: 120px;
        
        position: relative;
        
        line-height: 180px;
        color: #4E4E50;
        text-transform: uppercase;
        font-size: 0.75em;
        
        width: -webkit-calc(100% / 10 - 1px);
        width:    -moz-calc(100% / 10 - 1px);
        width:         calc(100% / 10 - 1px);
        
        }
        
    header div.modules a span.count{
        background: #4E4E50;
        border-radius: 15px 15px 15px 15px;
        font-size: 11px;
        height: 12px;
        line-height: 11px;
        padding: 3px;
        position: absolute;
        right: 5px;
        top: 5px;
        min-width: 12px;
        color: #DDD;
        }
        
    header div.modules nav ul li.user a{
        background: url("../img/iconic/user.svg") no-repeat center 20px;
        background-size: 40px;
        }
        
    header div.modules nav ul li.blog a{
        background: url("../img/iconic/rss_alt.svg") no-repeat center 33px;
        background-size: 40px;
        }
        
    header div.modules nav ul li.ddr a{
        background: url("../img/iconic/mic.svg") no-repeat center 20px;
        background-size: 40px;
        }
        
    header div.modules nav ul li.fashionsite a{
        background: url("../img/iconic/camera.svg") no-repeat center 33px;
        background-size: 40px;
        }
        
        
/* --- MAIN ------------------------------------------------------------------- */


    div.main{
        float: left;
        width: -webkit-calc(100% - 200px);
        width:    -moz-calc(100% - 200px);
        width:         calc(100% - 200px);
        margin-left: -1px;
        border-left: 1px solid #A2AFAF; 
        position: relative;
        z-index: 1;
        background: #F9F9F9;
        min-height: -webkit-calc(100% - 120px - 50px);
        min-height:    -moz-calc(100% - 120px - 50px);
        min-height:         calc(100% - 120px - 50px);
        -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.3);
        -moz-box-shadow   : 0 2px 15px rgba(0,0,0,0.3);
        box-shadow        : 0 2px 15px rgba(0,0,0,0.3);
        }

    div.main div.content{
        margin: 2%;
        }

        
/* --- SIDE MENU -------------------------------------------------------------- */


    nav.side{
        float: left;
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        width: 200px;
        }

    nav.side ul,
    nav.side ul li{
        padding: 0;
        margin: 0;
        border: 0 none;
        list-style: none;
        }
        
    nav.side span.count{
        display: none;
        }

    nav.side > ul{
        background: #B7C5C5;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DEE3E3), color-stop(100%, #B7C5C5));
        background: -webkit-linear-gradient(top, #DEE3E3 0%, #B7C5C5 100%);
        background:    -moz-linear-gradient(top, #DEE3E3 0%, #B7C5C5 100%);
        background:     -ms-linear-gradient(top, #DEE3E3 0%, #B7C5C5 100%);
        background:      -o-linear-gradient(top, #DEE3E3 0%, #B7C5C5 100%);
        background:   linear-gradient(to bottom, #DEE3E3 0%, #B7C5C5 100%);
        filter    : progid:dximagetransform.microsoft.gradient(startColorstr='#DEE3E3', endColorstr='#B7C5C5', GradientType=0);
        }
        
    nav.side ul li a:hover,
    nav.side ul li span:hover{
        background-color: rgba(255, 255, 255, 0.3);
        }

    nav.side ul li span,
    nav.side ul li a{
        display: block;
        color: #222;
        padding: 0 5%;
        line-height: 50px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
        }
        
    nav.side ul li li a,
    nav.side ul li li span{
        background: none;
        line-height: 40px;
        font-weight: 100;
        text-transform: capitalize;
        padding-left: 10%;
        }
        
    nav.side ul li li a,
    nav.side ul li li span{
        padding-left: 10%;
        background-image: url("../img/tree.png");
        background-repeat: no-repeat;
        background-position: -webkit-calc(10% - 8px) center;
        background-position:    -moz-calc(10% - 8px) center;
        background-position:         calc(10% - 8px) center;
        }        
        
    nav.side ul li li li a,
    nav.side ul li li li span{
        padding-left: 15%;
        background-position: -webkit-calc(15% - 8px) center;
        background-position:    -moz-calc(15% - 8px) center;
        background-position:         calc(15% - 8px) center;
        }
        
        
    nav.side ul li li li li a,
    nav.side ul li li li li span{
        padding-left: 20%;
        background-position: -webkit-calc(20% - 8px) center;
        background-position:    -moz-calc(20% - 8px) center;
        background-position:         calc(20% - 8px) center;
        }
        
    nav.side ul > li .active:last-child{
        background-color: rgba(255, 255, 255, 0.3)
        }

    nav.side .deep_1 > li{
        border-bottom: 1px solid #A2AFAF;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset;        
        }
        
    nav.side .deep_2{
        border-bottom: 0 none;
        box-shadow: 0; 
        }
        
    nav.side .deep_2 .active-parent{
        background: none;
        }

    /* abre e fecha o menu */
    nav.side ul li ul{
        border: 0 none;
        display: none;
        }
        
    nav.side ul li:hover > ul,
    nav.side .active-parent > ul{
        display: block;
        }
        

        
/* --- TOP TABS --------------------------------------------------------------- */


    nav.top-tabs{
        width: 100%;
        border-bottom: 1px solid #A2AFAF;
        padding-left: 1.5%;
        background-color: #F9F9F9;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDDDDD), color-stop(100%, #F9F9F9));
        background: -webkit-linear-gradient(top, #DDDDDD 0%, #F9F9F9 100%);
        background:    -moz-linear-gradient(top, #DDDDDD 0%, #F9F9F9 100%);
        background:     -ms-linear-gradient(top, #DDDDDD 0%, #F9F9F9 100%);
        background:      -o-linear-gradient(top, #DDDDDD 0%, #F9F9F9 100%);
        background:   linear-gradient(to bottom, #DDDDDD 0%, #F9F9F9 100%);
        filter    : progid:dximagetransform.microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#F9F9F9', GradientType=0);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset;  
        }
    
    nav.top-tabs ul,
    nav.top-tabs ul li{
        list-style: none;
        padding: 0;
        margin: 0;
        border: 0 none;
        }    

    nav.top-tabs ul li{
        float: left;
        margin: 1% 0 0 0;
        padding: 0.5%;
        border: 1px solid #A2AFAF;
        border-bottom: 0 none;
        border-left: 0 none;
        margin-bottom: -1px;
        background: #F9F9F9;
        cursor: pointer;
        }
        
    nav.top-tabs ul li a{
        color: inherit;
        text-decoration: inherit;
        }
        
    nav.top-tabs ul li:first-child{
        border-left: 1px solid #A2AFAF;
        }
        
    nav.top-tabs ul li.active{
        border-bottom: 1px #F9F9F9 solid;
        }
        
    
/* --- FORM ------------------------------------------------------------------- */


    input,
    select,
    textarea{
        background: transparent;
        border: 1px solid #D0D0D0; 
        margin: 0;
        padding: 0.5em;
        width: -webkit-calc(100% - 1em) !important;
        width:    -moz-calc(100% - 1em) !important;
        width:         calc(100% - 1em) !important;
        }
        
    textarea{
        height: 250px;
        }
    
    div.input-holder{
        margin: 1em 0 2em 0;
        }
    
    div.input-holder label{
        margin: 0 0 0.2em 0;
        display: block;
        font-size: 1em;
        text-transform: uppercase;
        }
        
    label{
        color: #777;
        }
    
        
/* --- TABLE ------------------------------------------------------------------ */


    div.list table{
        width: 100%;
        border-collapse: collapse;
        font-family: Arimo,sans-serif;
        font-size: 1.0em;
        }

    div.list table thead tr{
        }
        
    div.list table thead tr th{
        color: #878787;
        padding: 0.5% 1%;
        font-size: 0.9em;
        font-weight: 100;
        cursor: pointer;
        text-align: left;
        overflow: hidden;
        vertical-align: bottom;
        border-top: 1px solid #CDCDCD;
        border-bottom: 1px solid #CDCDCD;
        text-align: center;
        
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EFEFEF));
        background: -webkit-linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF) repeat scroll 0 0 transparent;
        background:    -moz-linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF) repeat scroll 0 0 transparent;
        background:     -ms-linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF) repeat scroll 0 0 transparent;
        background:      -o-linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF) repeat scroll 0 0 transparent;
        background:   linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF) repeat scroll 0 0 transparent;
        filter    : progid:dximagetransform.microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#EFEFEF', GradientType=0);
        }
        
    div.list table thead tr th:first-child,    
    div.list table thead tr th:last-child{
        border-right: 1px solid #CDCDCD;
        }

    div.list table thead tr th.CHANGE_TO_DESC{
        background: url("../img/fugue/icons/sort-date-descending.png")  no-repeat 95% center #EFEFEF;
        border-right: 1px solid #CDCDCD;
        border-left: 1px solid #CDCDCD;
        }

    div.list table thead tr th.CHANGE_TO_ASC{
        background: url("../img/fugue/icons/sort-date.png") no-repeat 95% center #EFEFEF;
        border-right: 1px solid #CDCDCD;
        border-left: 1px solid #CDCDCD;
        }

    div.list table thead .action{
        background: transparent;
        border: 0 none;
        border-bottom: 1px solid #C7C7C7;
        }
        
    div.list table tbody{
        border-left: 1px solid #C7C7C7;
        border-right: 1px solid #C7C7C7;
        border-bottom: 2px solid #303030;
        }

    div.list table tbody tr td{
        color: #707070;
        border: 1px solid #CDCDCD;
        padding: 1%;
        vertical-align: top;
        }
    
    div.list table tbody tr:nth-child(even){
        background: #FAFAFA;
        }

    div.list table tbody tr:nth-child(odd){
        background: #F5F5F5;
        }
        
    div.list table tbody tr td a{
        color: inherit;
        text-decoration: none;
        }

    div.list table tbody tr td a:active{
        color: red;
        }

    div.list table tbody tr:hover td{
        background: #F0F0F0 !important;
        color: #000000 !important;
        }
        
    div.list table tbody .action{
        border-bottom: 1px solid #C7C7C7;
        vertical-align: middle;
        text-align: center;
        width: 95px;
        }
        
    div.list table tbody tr:nth-child(even) .action{
        background: #F7F7F7;
        }
        
    div.list table tbody tr:nth-child(odd) .action{
        background: #EEEEEE;
        }
        
    div.list td.action a.edit,
    div.list td.action a.delete,
    div.list td.action a.select{
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../img/iconic/check.svg") no-repeat center center;
        background-size: contain;
        }

    div.list td.action a.edit{
        margin: 0 2px;
        background: url("../img/iconic/pen_alt2.svg") no-repeat center center;
        background-size: contain;
        }

    div.list td.action a.delete{
        background: url("../img/iconic/denied.svg") no-repeat center center;
        background-size: contain;
        }

    
/* --- BUTTONS ---------------------------------------------------------------- */ 


    button,
    .button{
        border: 1px solid #B2B2B2;
        border-radius: 5px;
        padding: 0.5%;
        color: #333;
        cursor: pointer;
        background: #f2f2f2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #c9c9c9));
        background: -webkit-linear-gradient(top, #f2f2f2 0%, #c9c9c9 100%);
        background:    -moz-linear-gradient(top, #f2f2f2 0%, #c9c9c9 100%);
        background:     -ms-linear-gradient(top, #f2f2f2 0%, #c9c9c9 100%);
        background:      -o-linear-gradient(top, #f2f2f2 0%, #c9c9c9 100%);
        background:   linear-gradient(to bottom, #f2f2f2 0%, #c9c9c9 100%);
        filter    : progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c9c9c9', GradientType=0);
        }

    button.square,
    .button.square{
        border-radius: 0;
        }

    button.small,
    .button.small{
        padding: 0.2%;
        }

    button.active,
    .button.active{
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2ebe2), color-stop(100%, #bcc5bc));
        background: -webkit-linear-gradient(top, #e2ebe2 0%, #bcc5bc 100%);
        background:    -moz-linear-gradient(top, #e2ebe2 0%, #bcc5bc 100%);
        background:     -ms-linear-gradient(top, #e2ebe2 0%, #bcc5bc 100%);
        background:      -o-linear-gradient(top, #e2ebe2 0%, #bcc5bc 100%);
        background:   linear-gradient(to bottom, #e2ebe2 0%, #bcc5bc 100%);
        filter    : progid:dximagetransform.microsoft.gradient(startColorstr='#E2EBE2', endColorstr='#BCC5BC', GradientType=0);
        }

    
/* --- ACTION BAR ------------------------------------------------------------- */ 


    div.action-bar{
        padding:1% 2%;
        text-align:right;
        }

    div.action-bar.small{
        padding:0.5%;
        }

    div.action-bar.center{
        text-align:center; 
        }
        
        
 /* --- FOOTER ----------------------------------------------------------------- */


    footer{
        background: #262C36;
        height: 50px;
        position: relative;
        z-index: 2;
        }
        
        
 /* --- WINDOW POPUP ---------------------------------------------------------- */
 
    
    body.popup-window{
        background: #F9F9F9;
        height: auto;
        }

     body.popup-window div.content{
        padding: 20px;
        height: auto;
        }

    body.popup-window h1{
        padding: 10px;
        font-size: 1.5em;
        background: #A2AFAF;
        text-transform: uppercase;
        color: #EEE;
        }
        

/* --- SEARCH FORM ------------------------------------------------------------ */
 
 
    form.search{
        }
    
    form.search select.and-or,
    form.search select.comparison{
        width: -webkit-calc(10% - 1em) !important;
        width:    -moz-calc(10% - 1em) !important;
        width:         calc(10% - 1em) !important;
        }
     
    form.search div:first-child select{
        width: -webkit-calc(20% - 2em) !important;
        width:    -moz-calc(20% - 2em) !important;
        width:         calc(20% - 2em) !important;
        }
        
    form.search input.value{
        width: -webkit-calc(80% - 1em) !important;
        width:    -moz-calc(80% - 1em) !important;
        width:         calc(80% - 1em) !important;
        }
                      
        
/* --- ESTILOS PARA TYPES ----------------------------------------------------- */
        

     div.imagesUpload .bt_imageDataForm_open{
        background: url("../img/iconic/magnifying_glass.svg") no-repeat center center;
        background-size: contain;
        text-indent: -9999em;
        }
        
     div.imagesUpload .bt_imageDataForm_close{
        background: url("../img/iconic/x.svg") no-repeat center center;
        background-size: contain;
        text-indent: -9999em;
        }
        
     div.imagesUpload textarea{
        height: 150px;
        }