body{
    font-family:Arial,Helvetica,sans-serif;
    color:#FFF;
    font-weight:100;
    padding:0;
    margin:0;
    }
    
div.holder{
    background:#004d60;
    height:150px;
    padding:10px;
    top:50%;
    margin-top:-75px;
    width:100%;
    position:absolute;
    }
    
div.holder.error{
    background:#A20000;
    }

div.holder .box{
    margin:0 auto;
    width:450px;
    height:100%;
    position:relative;
    }
    
div.holder .box h1,
div.holder .box h2{
    font-size:30px;
    font-family:Georgia;
    font-style:italic;
    font-weight:100;
    padding:0;
    margin:0 0 5px 0 ;
    }
    
div.holder .box h2{
    font-size:20px;
    }
    
div.holder .box .info{
    float:left;
    width:45%;
    text-align:right;
    }
    
div.holder .box .info .text{
    font-size:12px;
    }
    
div.holder .box form{
    float:right;
    width:50%;
    font-size:12px;
    margin-top:5px;
    }
    
div.holder .box form a{
    color:#FFF;
    }
    
div.holder input,
div.holder button{
    padding:5px;
    border:1px solid #ADC6CC;
    background:transparent;
    color:#FFF;
    margin-bottom:10px;
    border-color:rgba(225, 225, 225, 0.7);
    }
    
div.holder input:focus,
div.holder button:focus,
div.holder input:hover,
div.holder button:hover{
    background:rgba(225, 225, 225, 0.2);
    }
    
div.holder input{
    width:212px;
    }
    
div.holder label{
    color:rgba(225, 225, 225, 0.7);
    }
    
div.holder .buttons{
    text-align:right;
    }
    
div.holder .buttons a{
    color:#FFF;
    font-weight:100;
    text-decoration:none;
    font-size:11px;
    margin-right:10px;
    }
    
div.holder .buttons a:hover{
    text-decoration:underline;
    }
    
div.holder .msg{
    position:absolute;
    top:100%;
    color:#FFF;
    right:0;
    text-transform:uppercase;
    display:none;
    padding:5px;
    border-radius:0 0 10px 0;
    margin:10px 0 0 0;
    font-size:12px;
    text-align:right;
    line-height:18px;
    }
    
div.holder .msg.error{
    background:#ff0020;
    }
    
div.holder .msg.ok{
    background:#00ff00;
    }
    
/* --------------------------------------------------------------------------- */
    
@media screen and (max-width: 450px){
    div.holder {
        height: 208px;
        margin-top: -104px;
        }

    div.holder .box{
        width:100%;
        height:100%;
        position:relative;
        }

    div.holder .box .info{
        float: none;
        display: inline-block;
        min-width: 285px;
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        text-align: center;
        }

    div.holder input{
        width: -webkit-calc(100% - 12px);
        width: -moz-calc(100% - 12px);
        width: calc(100% - 12px);
        }

    div.holder .box form{
        float: none;
        display: block;
        font-size:12px;
        margin-top:5px;


        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        }
}