/* --- HEADER ----------------------------------------------------------------- */


    header{
        
        }
        
        
/* --- MAIN ------------------------------------------------------------------- */


    div.main{
        width: 100%;
        }

    div.main div.content{
        margin: 2%;
        }
        
        
 /* --- SIDE MENU -------------------------------------------------------------- */


    nav.side{
        width: 100%;
        }